[Unit]
Description=Rename network interfaces
After=NetworkManager.service
Wants=NetworkManager.service
Requires=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/interface-renaming.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
